In [1]:
import pandas as pd
import numpy as np

In [2]:
initial_df = pd.read_csv('/content/NHANES_Extracted.csv')
initial_df.head()

,Respondent Sequence Number (ID),"Gender of the participant (1=Male, 2=Female)",Age in years (Top-coded at 80),Race/Hispanic origin category,Highest level of education attained,Ratio of family income to poverty,Weight (kg),Standing Height (cm),Body Mass Index (BMI: kg/m^2),"Systolic Blood Pressure, 1st reading (mmHg)","Diastolic Blood Pressure, 1st reading (mmHg)",Ever told by doctor they had Diabetes?,Age when first diagnosed with diabetes,Currently taking diabetic Pills to lower blood sugar?,Glycohemoglobin (HbA1c) value (%),Ever smoked at least 100 cigarettes in life?,"Currently Smoke? (Every day, some days, or not at all)",Drank alcohol in the past 12 months?,Average number of drinks per day when drinking,Marital status
0,130378.0,1.0,43.0,6.0,5.0,5.00,86.9,179.5,27.0,135.0,98.0,2.0,NaN,NaN,5.6,1.0,3.0,NaN,NaN,1.0
1,130379.0,1.0,66.0,3.0,5.0,5.00,101.8,174.2,33.5,121.0,84.0,2.0,NaN,NaN,5.6,1.0,3.0,1.0,3.0,1.0
2,130380.0,2.0,44.0,2.0,3.0,1.41,69.4,152.9,29.7,111.0,79.0,1.0,35.0,1.0,6.2,2.0,NaN,1.0,1.0,1.0
3,130386.0,1.0,34.0,1.0,4.0,1.33,90.6,173.3,30.2,110.0,72.0,2.0,NaN,NaN,5.1,1.0,3.0,1.0,2.0,1.0
4,130387.0,2.0,68.0,3.0,5.0,1.32,103.5,155.9,42.6,143.0,76.0,2.0,NaN,NaN,5.9,2.0,NaN,1.0,NaN,3.0

In [3]:
initial_df.isnull().sum()

Respondent Sequence Number (ID)                               0
Gender of the participant (1=Male, 2=Female)                  0
Age in years (Top-coded at 80)                                0
Race/Hispanic origin category                                 0
Highest level of education attained                       23321
Ratio of family income to poverty                          6919
Weight (kg)                                                6155
Standing Height (cm)                                       9288
Body Mass Index (BMI: kg/m^2)                              9374
Systolic Blood Pressure, 1st reading (mmHg)               18453
Diastolic Blood Pressure, 1st reading (mmHg)              18453
Ever told by doctor they had Diabetes?                     1962
Age when first diagnosed with diabetes                    52573
Currently taking diabetic Pills to lower blood sugar?     48642
Glycohemoglobin (HbA1c) value (%)                         21829
Ever smoked at least 100 cigarettes in life?              21903
Currently Smoke? (Every day, some days, or not at all)    42893
Drank alcohol in the past 12 months?                      38782
Average number of drinks per day when drinking            37154
Marital status                                            23323
dtype: int64

In [4]:
# Map for Education
education_map = {
    1: 'Less than 9th grade',
    2: '9-11th grade (Includes 12th grade with no diploma)',
    3: 'High school graduate/GED or equivalent',
    4: 'Some college or AA degree',
    5: 'College graduate or above',
    7: 'Refused',
    9: "Don't know"
}

# Map for Race/Ethnicity
race_map ={
    1: 'Mexican American',
    2: 'Other Hispanic',
    3: 'Non-Hispanic White',
    4: 'Non-Hispanic Black',
    6: 'Non-Hispanic Asian',
    7: 'Other Race - Including Multi-Racial'
}

# Map for Marital Status
marital_map = {
    1: 'Married/Living with partner',
    2: 'Widowed/Divorced/Separated',
    3: 'Never married',
    77: 'Refused',
    99: "Don't know"
}

# Map for Gender
Gender_map = {
    1: 'Male',
    2: 'Female'
}

# Frequency map
frequency_map = {
    1: 'Every day',
    2: 'Some days',
    3: 'Not at all',
    7: 'Refused',
    9: "Don't know"
}

# Yes/No map
yes_no_map = {
    1: 'Yes',
    2: 'No',
    3: 'Borderline',
    7: 'Refused',
    9: "Don't know"
}

# age filling map
age_desc_map = {
    666: 0,
    777: np.nan,
    999: np.nan
}

In [5]:
initial_df['Highest level of education attained'] = initial_df['Highest level of education attained'].replace(education_map)
initial_df['Race/Hispanic origin category'] = initial_df['Race/Hispanic origin category'].replace(race_map)
initial_df['Marital status'] = initial_df['Marital status'].replace(marital_map)
initial_df['Gender of the participant (1=Male, 2=Female)'] = initial_df['Gender of the participant (1=Male, 2=Female)'].replace(Gender_map)
initial_df['Ever smoked at least 100 cigarettes in life?'] = initial_df['Ever smoked at least 100 cigarettes in life?'].replace(yes_no_map)
initial_df['Ever told by doctor they had Diabetes?'] = initial_df['Ever told by doctor they had Diabetes?'].replace(yes_no_map)
initial_df['Drank alcohol in the past 12 months?'] = initial_df['Drank alcohol in the past 12 months?'].replace(yes_no_map)
initial_df['Currently taking diabetic Pills to lower blood sugar?'] = initial_df['Currently taking diabetic Pills to lower blood sugar?'].replace(yes_no_map)
initial_df['Currently Smoke? (Every day, some days, or not at all)'] = initial_df['Currently Smoke? (Every day, some days, or not at all)'].replace(frequency_map)
initial_df['Age when first diagnosed with diabetes'] = initial_df['Age when first diagnosed with diabetes'].replace(age_desc_map)

In [6]:
initial_df.head()

,Respondent Sequence Number (ID),"Gender of the participant (1=Male, 2=Female)",Age in years (Top-coded at 80),Race/Hispanic origin category,Highest level of education attained,Ratio of family income to poverty,Weight (kg),Standing Height (cm),Body Mass Index (BMI: kg/m^2),"Systolic Blood Pressure, 1st reading (mmHg)","Diastolic Blood Pressure, 1st reading (mmHg)",Ever told by doctor they had Diabetes?,Age when first diagnosed with diabetes,Currently taking diabetic Pills to lower blood sugar?,Glycohemoglobin (HbA1c) value (%),Ever smoked at least 100 cigarettes in life?,"Currently Smoke? (Every day, some days, or not at all)",Drank alcohol in the past 12 months?,Average number of drinks per day when drinking,Marital status
0,130378.0,Male,43.0,Non-Hispanic Asian,College graduate or above,5.00,86.9,179.5,27.0,135.0,98.0,No,NaN,NaN,5.6,Yes,Not at all,NaN,NaN,Married/Living with partner
1,130379.0,Male,66.0,Non-Hispanic White,College graduate or above,5.00,101.8,174.2,33.5,121.0,84.0,No,NaN,NaN,5.6,Yes,Not at all,Yes,3.0,Married/Living with partner
2,130380.0,Female,44.0,Other Hispanic,High school graduate/GED or equivalent,1.41,69.4,152.9,29.7,111.0,79.0,Yes,35.0,Yes,6.2,No,NaN,Yes,1.0,Married/Living with partner
3,130386.0,Male,34.0,Mexican American,Some college or AA degree,1.33,90.6,173.3,30.2,110.0,72.0,No,NaN,NaN,5.1,Yes,Not at all,Yes,2.0,Married/Living with partner
4,130387.0,Female,68.0,Non-Hispanic White,College graduate or above,1.32,103.5,155.9,42.6,143.0,76.0,No,NaN,NaN,5.9,No,NaN,Yes,NaN,Never married

In [7]:
rows_to_calculate = initial_df[
    (initial_df['Body Mass Index (BMI: kg/m^2)'].isnull()) &
    (initial_df['Weight (kg)'].notnull()) &
    (initial_df['Standing Height (cm)'].notnull())
]
print(rows_to_calculate)

Empty DataFrame
Columns: [Respondent Sequence Number (ID), Gender of the participant (1=Male, 2=Female), Age in years (Top-coded at 80), Race/Hispanic origin category, Highest level of education attained, Ratio of family income to poverty, Weight (kg), Standing Height (cm), Body Mass Index (BMI: kg/m^2), Systolic Blood Pressure, 1st reading (mmHg), Diastolic Blood Pressure, 1st reading (mmHg), Ever told by doctor they had Diabetes?, Age when first diagnosed with diabetes, Currently taking diabetic Pills to lower blood sugar?, Glycohemoglobin (HbA1c) value (%), Ever smoked at least 100 cigarettes in life?, Currently Smoke? (Every day, some days, or not at all), Drank alcohol in the past 12 months?, Average number of drinks per day when drinking, Marital status]
Index: []

In [8]:
#indices_to_fill = rows_to_calculate.index
#height_in_meters = initial_df.loc[indices_to_fill, 'Standing Height (cm)'] / 100
#initial_df.loc[indices_to_fill, 'Body Mass Index (BMI: kg/m^2)'] = initial_df.loc[indices_to_fill, 'Weight (kg)'] / (height_in_meters ** 2)

In [9]:
rows_to_fill = initial_df[
    (initial_df['Currently Smoke? (Every day, some days, or not at all)'].isnull()) &
    (initial_df['Ever smoked at least 100 cigarettes in life?'] == 'No')
]
print(len(rows_to_fill))

20952

In [10]:
indices_to_fill = rows_to_fill.index
initial_df.loc[indices_to_fill, 'Currently Smoke? (Every day, some days, or not at all)'] = 'Not at all'

In [11]:
condition = (initial_df['Ever told by doctor they had Diabetes?'] == 'No')
indices_to_fill = initial_df[condition].index
initial_df.loc[indices_to_fill, 'Currently taking diabetic Pills to lower blood sugar?'] = 'No'
initial_df.loc[indices_to_fill, 'Age when first diagnosed with diabetes'] = 0

In [12]:
condition = initial_df['Drank alcohol in the past 12 months?'].isnull()
target_col = 'Average number of drinks per day when drinking'
initial_df.loc[condition, target_col] = initial_df.loc[condition, target_col].fillna(0)

In [13]:
initial_df['Drank alcohol in the past 12 months?']=initial_df['Drank alcohol in the past 12 months?'].fillna('Not provided')

In [14]:
initial_df['Marital status'] = initial_df['Marital status'].fillna('Not provided')

In [15]:
initial_df['Currently Smoke? (Every day, some days, or not at all)'] = initial_df['Currently Smoke? (Every day, some days, or not at all)'].fillna('Not provided')

In [16]:
initial_df['Ever smoked at least 100 cigarettes in life?'] = initial_df['Ever smoked at least 100 cigarettes in life?'].fillna('Refused')

In [17]:
for col in initial_df.columns:
    if (initial_df[col].nunique() <= 10):
        print(col,": ", initial_df[col].unique())

Gender of the participant (1=Male, 2=Female) :  ['Male' 'Female']
Race/Hispanic origin category :  ['Non-Hispanic Asian' 'Non-Hispanic White' 'Other Hispanic'
 'Mexican American' 'Non-Hispanic Black'
 'Other Race - Including Multi-Racial']
Highest level of education attained :  ['College graduate or above' 'High school graduate/GED or equivalent'
 'Some college or AA degree' nan
 '9-11th grade (Includes 12th grade with no diploma)'
 'Less than 9th grade' "Don't know" 'Refused']
Ever told by doctor they had Diabetes? :  ['No' 'Yes' 'Borderline' "Don't know" nan 'Refused']
Currently taking diabetic Pills to lower blood sugar? :  ['No' 'Yes' "Don't know" nan 'Refused']
Ever smoked at least 100 cigarettes in life? :  ['Yes' 'No' "Don't know" 'Refused']
Currently Smoke? (Every day, some days, or not at all) :  ['Not at all' 'Every day' 'Not provided' 'Some days' 'Refused']
Drank alcohol in the past 12 months? :  ['Not provided' 'Yes' 'No' "Don't know" 'Refused']
Marital status :  ['Married/Living with partner' 'Never married' 'Not provided'
 'Widowed/Divorced/Separated' "Don't know" 'Refused' 6.0 4.0 5.0]

In [18]:
col_bmi = 'Body Mass Index (BMI: kg/m^2)'
median_bmi = initial_df[col_bmi].median()
initial_df[col_bmi].fillna(median_bmi, inplace=True)

/tmp/ipython-input-1437580834.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df[col_bmi].fillna(median_bmi, inplace=True)

In [19]:
col_sbp = 'Systolic Blood Pressure, 1st reading (mmHg)'
median_sbp = initial_df[col_sbp].median()
initial_df[col_sbp].fillna(median_sbp, inplace=True)

/tmp/ipython-input-2740204765.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df[col_sbp].fillna(median_sbp, inplace=True)

In [20]:
col_dbp = 'Diastolic Blood Pressure, 1st reading (mmHg)'
median_dbp = initial_df[col_dbp].median()
initial_df[col_dbp].fillna(median_dbp, inplace=True)

/tmp/ipython-input-1132343820.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df[col_dbp].fillna(median_dbp, inplace=True)

In [21]:
numeric_cols_to_fill = [
    'Ratio of family income to poverty',
    'Weight (kg)',
    'Standing Height (cm)',
    'Glycohemoglobin (HbA1c) value (%)'
]

for col in numeric_cols_to_fill:
    median_value = initial_df[col].median()
    initial_df[col].fillna(median_value, inplace=True)

/tmp/ipython-input-1959591818.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df[col].fillna(median_value, inplace=True)

In [22]:
categorical_cols_to_fill = [
    'Highest level of education attained',
    'Ever told by doctor they had Diabetes?',
    'Currently taking diabetic Pills to lower blood sugar?'
]

for col in categorical_cols_to_fill:
    initial_df[col].fillna('Not provided', inplace=True)

/tmp/ipython-input-2552890451.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df[col].fillna('Not provided', inplace=True)

In [23]:
sbp = initial_df['Systolic Blood Pressure, 1st reading (mmHg)']
dbp = initial_df['Diastolic Blood Pressure, 1st reading (mmHg)']

aha_conditions = [
    (sbp > 180) | (dbp > 120),
    (sbp >= 140) | (dbp >= 90),
    (sbp >= 130) | (dbp >= 80),
    (sbp >= 120) & (dbp < 80),
    (sbp < 120) & (dbp < 80)
]
aha_choices = [
    'Hypertensive Crisis',
    'Hypertension Stage 2',
    'Hypertension Stage 1',
    'Elevated',
    'Normal'
]

initial_df['AHA_Category'] = np.select(aha_conditions, aha_choices, default=None)

esh_conditions = [
    (sbp >= 180) | (dbp >= 110),
    (sbp >= 160) | (dbp >= 100),
    (sbp >= 140) | (dbp >= 90),
    (sbp >= 130) | (dbp >= 85),
    (sbp >= 120) | (dbp >= 80),
    (sbp < 120) & (dbp < 80)
]
esh_choices = [
    'Grade 3 Hypertension',
    'Grade 2 Hypertension',
    'Grade 1 Hypertension',
    'High-Normal',
    'Normal',
    'Optimal'
]

initial_df['ESH_Category'] = np.select(esh_conditions, esh_choices, default=None)

print("--- AHA Categories ---")
print(initial_df['AHA_Category'].value_counts(dropna=False))
print("\n--- ESH Categories ---")
print(initial_df['ESH_Category'].value_counts(dropna=False))

--- AHA Categories ---
AHA_Category
Normal                  39271
Hypertension Stage 1     6787
Hypertension Stage 2     5864
Elevated                 5156
Hypertensive Crisis       317
Name: count, dtype: int64

--- ESH Categories ---
ESH_Category
Optimal                 39271
Normal                   7300
High-Normal              4643
Grade 1 Hypertension     4410
Grade 2 Hypertension     1338
Grade 3 Hypertension      433
Name: count, dtype: int64

In [24]:
df = initial_df.drop(['Marital status','Average number of drinks per day when drinking','Age when first diagnosed with diabetes'], axis=1)

In [25]:
hba1c = df['Glycohemoglobin (HbA1c) value (%)']

conditions = [
    (hba1c >= 6.5),
    (hba1c >= 5.7)
]

choices = [
    'Diabetes',
    'Prediabetes'
]

df['Diabetes_Status'] = np.select(conditions, choices, default='Normal')

In [26]:
df.isnull().sum()

Respondent Sequence Number (ID)                           0
Gender of the participant (1=Male, 2=Female)              0
Age in years (Top-coded at 80)                            0
Race/Hispanic origin category                             0
Highest level of education attained                       0
Ratio of family income to poverty                         0
Weight (kg)                                               0
Standing Height (cm)                                      0
Body Mass Index (BMI: kg/m^2)                             0
Systolic Blood Pressure, 1st reading (mmHg)               0
Diastolic Blood Pressure, 1st reading (mmHg)              0
Ever told by doctor they had Diabetes?                    0
Currently taking diabetic Pills to lower blood sugar?     0
Glycohemoglobin (HbA1c) value (%)                         0
Ever smoked at least 100 cigarettes in life?              0
Currently Smoke? (Every day, some days, or not at all)    0
Drank alcohol in the past 12 months?                      0
AHA_Category                                              0
ESH_Category                                              0
Diabetes_Status                                           0
dtype: int64

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57395 entries, 0 to 57394
Data columns (total 20 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Respondent Sequence Number (ID)                         57395 non-null  float64
 1   Gender of the participant (1=Male, 2=Female)            57395 non-null  object
 2   Age in years (Top-coded at 80)                          57395 non-null  float64
 3   Race/Hispanic origin category                           57395 non-null  object
 4   Highest level of education attained                     57395 non-null  object
 5   Ratio of family income to poverty                       57395 non-null  float64
 6   Weight (kg)                                             57395 non-null  float64
 7   Standing Height (cm)                                    57395 non-null  float64
 8   Body Mass Index (BMI: kg/m^2)                           57395 non-null  float64
 9   Systolic Blood Pressure, 1st reading (mmHg)             57395 non-null  float64
 10  Diastolic Blood Pressure, 1st reading (mmHg)            57395 non-null  float64
 11  Ever told by doctor they had Diabetes?                  57395 non-null  object
 12  Currently taking diabetic Pills to lower blood sugar?   57395 non-null  object
 13  Glycohemoglobin (HbA1c) value (%)                       57395 non-null  float64
 14  Ever smoked at least 100 cigarettes in life?            57395 non-null  object
 15  Currently Smoke? (Every day, some days, or not at all)  57395 non-null  object
 16  Drank alcohol in the past 12 months?                    57395 non-null  object
 17  AHA_Category                                            57395 non-null  object
 18  ESH_Category                                            57395 non-null  object
 19  Diabetes_Status                                         57395 non-null  object
dtypes: float64(9), object(11)
memory usage: 8.8+ MB

In [29]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Respondent Sequence Number (ID),57395.0,100827.628975,25545.916884,6.216100e+04,78149.50,92498.00,122406.50,142310.0
Age in years (Top-coded at 80),57395.0,33.575468,25.135599,5.397605e-79,10.00,30.00,56.00,80.0
Ratio of family income to poverty,57395.0,2.321917,1.546848,5.397605e-79,1.07,1.92,3.48,5.0
Weight (kg),57395.0,64.804195,30.578025,2.700000e+00,47.80,67.20,82.80,254.3
Standing Height (cm),57395.0,157.413270,20.802403,7.830000e+01,154.00,162.20,169.40,204.5
Body Mass Index (BMI: kg/m^2),57395.0,26.089145,7.419034,1.110000e+01,21.40,25.40,29.50,92.3
"Systolic Blood Pressure, 1st reading (mmHg)",57395.0,118.356582,15.662680,5.200000e+01,111.00,116.00,122.00,238.0
"Diastolic Blood Pressure, 1st reading (mmHg)",57395.0,69.036536,11.527570,5.397605e-79,65.00,69.00,74.00,151.0
Glycohemoglobin (HbA1c) value (%),57395.0,5.634923,0.841435,2.800000e+00,5.40,5.50,5.60,17.8

In [30]:
df.to_csv('/content/NHANES_cleaned.csv', index=False)